/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';


.input-style {
  @apply p-3 rounded-md w-full bg-gray-100 focus:outline-none focus:ring-2 focus:ring-black;
}